body{
    display: flex;
}

nav{
    flex-basis: var(--widthNav);
    background-color: var(--nav);
    padding: 30px;
    color: white;
}

article{
    flex-basis: calc(100% - var(--widthNav));
    background-color: var(--article);
    padding: 30px;
    color: white;
}

:root{
    --nav: #4363a0;
    --article: #ddaa00;
    --widthNav: 20%;
}