.container {
    display: grid;
    grid-auto-rows: 5fr;
    grid-template-columns: repeat(5, 1fr);
    background-color: cadetblue;
}

.container > * {
    padding:1rem;
}

@media (max-width: 700px) {.container {
    display: grid;
    grid-auto-rows: 5fr;
    grid-template-columns: repeat(3, 1fr);
    background-color: cadetblue;
}}